<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No hay Caja Abierta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ventas/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #e27917;">
        <a class="navbar-brand" href="{% url 'usuarios:menu_principal' %}">BRUNETTE</a>
    </nav>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title">No es posible realizar la venta</h2>
                <p class="card-text">No hay una caja abierta en este momento. Por favor, abra una caja antes de
                    continuar.</p>
                <a href="{% url 'caja:apertura_caja' %}" class="btn btn-primary">Abrir Caja</a>
                <!-- Se actualizó la URL para incluir el namespace 'ventas:' -->
                <a href="{% url 'ventas:lista_ventas' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>