<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Caja</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .info-box {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            font-size: 18px;
        }

        .info-box strong {
            color: #e27917;
        }

        .title {
            color: #343a40;
            text-shadow: 1px 1px 2px #e27917;
            font-size: 24px;
        }

        .lead {
            font-size: 18px;
        }

        .navbar-brand {
            font-size: 20px;
        }

        .container {
            max-width: 400px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e27917;">
        <a class="navbar-brand" href="{% url 'usuarios:menu_principal' %}">BRUNETTE</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ventas:estadisticas' %}">Estadísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caja:lista_cajas_cerradas' %}">Historial</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5 pt-5">
        <h1 class="display-4 mb-3 title">Detalle de Caja: {{ caja.nombre }}</h1>
        <div class="info-box">
            <p class="lead">Usuario que abrió la caja: <strong>{{ caja.usuario.username }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Fecha de Apertura: <strong>{{ caja.fecha_apertura|date:"d/m/Y H:i" }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Saldo Inicial: <strong>{{ caja.saldo_inicial }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Subtotal de Ventas (Efectivo): <strong>${{ subtotal_ventas_efectivo }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Subtotal de Ventas (Transferencia): <strong>${{ subtotal_ventas_transferencia }}</strong>
            </p>
        </div>
        <div class="info-box">
            <p class="lead">Subtotal de Ingresos: <strong>${{ subtotal_ingresos }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Subtotal de Egresos: <strong>${{ subtotal_egresos }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Saldo Final de Caja: <strong>${{ saldo_final }}</strong></p>
        </div>
        <div class="info-box">
            <p class="lead">Fecha de Cierre: {% if caja.fecha_cierre %}
                <strong>{{ caja.fecha_cierre|date:"d/m/Y H:i" }}</strong>
                {% else %}
                <strong>Caja abierta</strong>
                {% endif %}
            </p>
        </div>
        <div class="d-flex justify-content-center">
            {% if not caja.fecha_cierre %}
            <button class="btn btn-danger mb-3" data-toggle="modal" data-target="#confirmModal">Cerrar Caja</button>
            {% else %}
            <p class="text-muted">La caja ya ha sido cerrada.</p>
            {% endif %}
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Cierre de Caja</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas cerrar la caja? No se podrán hacer modificaciones después.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a href="{% url 'caja:cierre_caja' caja.id %}" class="btn btn-danger">Cerrar Caja</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>