<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Transacción</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e27917;">
        <a class="navbar-brand" href="{% url 'usuarios:menu_principal' %}">BRUNETTE</a>
    </nav>
    <div class="container mt-5 pt-5" style="max-width: 600px;">
        <h1 class="display-4 mb-4">Detalle de Transacción</h1>
        <p class="lead">Fecha y Hora: <strong>{{ transaccion.created_at|date:"d/m/Y H:i" }}</strong></p>
        <p class="lead">Monto: <strong>${{ transaccion.amount }}</strong></p>
        <p class="lead">Tipo de Transacción: <strong>{{ transaccion.transaction_type }}</strong></p>
        <p class="lead">Usuario: <strong>{{ transaccion.user.username }}</strong></p>
        <a href="{% url 'caja:lista_transacciones' %}" class="btn btn-primary mt-3">Volver a la Lista de
            Transacciones</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>